.searchBarContainer{
  display: flex;
  justify-content: center;
  min-height: 110vh;
  padding: 1rem;
  padding-top: 20vh;
}

.searchBarContainer h1{
  text-align: center;
  animation: makeVisible 1.5s forwards;
}

.blinkRed{
  border-radius: 50%;
  height: 0.8rem;
  width: 0.8rem;
  display: inline-block;
  padding-top: 0.2rem;
  margin-right: 0.2rem;
  vertical-align: middle;
  background-color: red;
  animation: makeVisible_blink 1s infinite;
}

.listeningDiv{
  margin-top: 1rem;
  text-align: center;
  font-size: 01rem;
  color: #626262;
}

.loaderDiv{
  text-align: center;
}

.transcript{
  font-style: italic;
  font-style: italic;
  text-align: center;
  margin-top: 1rem;
  max-width: 50vw;
}

.searchContainerDiv{
  display: grid;
  grid-template-columns: auto 60px;
  column-gap: 10px;
}

.micContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  animation: makeVisible 1.5s forwards;
}

.microphoneDiv{
  border: solid 2px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.loaderImageDiv{
  position: relative;
  width: 10rem;
  height: 10rem;
  animation: grow 1.5s forwards;
  margin: auto;
}

.loaderImageText{
  transform: translate(0, 0em);
  color: grey;
}

.searchBarDiv{
  display: grid;
  grid-template-columns: 1fr 50px;
  column-gap: 10px;
  border-radius: 35px;
  border: solid 2px grey;
  padding: 5px;
  width: 40vw;
  /* animation: expand 1.5s forwards; */
}

.centerAlign{
  display: flex;
  align-items: center;
}

.searchBar{
  height: 100%;
  margin-left: 10px;
  width: 100%;
  border: none !important;
  background-color: transparent;
}

.searchBar:focus{
  outline: none;
}

.statusHolder{
  padding: 1rem;
  text-align: center;
}

.statusHolder span{
  display: flex;
  justify-content: center;
  align-items: center;
}

.topMatches{
  margin-top: 2rem;
}

.topMatchesDiv{
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 1rem;
  font-size: 14px;
  background: white;
  font-weight: 300;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 20px;
}

.textBox{
  display: inline-block;
}

.entititesBox{
  border: solid 1px #cdcdcd;
  padding: 0.4rem;
  border-radius: 15px;
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  
}

.intentBox{
  display: inline-block;
  background: #dddddd;
  padding: 0.5rem;
  border-radius: 15px;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  background-image: linear-gradient(to right, #9059fd, #678afe);
  color: white;
}

.graphHolder{
  padding: 1rem;
  overflow: auto;
  max-width: 40rem;
  margin: auto;
  margin-top: 1rem;
}

@keyframes expand {
  from {
    width: 30vw;
    opacity: 0;
  }
  to {
    width: 40vw;
    opacity: 1;
  }
}

@keyframes makeVisible {
  from {opacity: 0;}
  to {opacity: 1;}
}


@keyframes grow {
  from {transform: scale(0.2);}
  to {transform: scale(1);}
}


@keyframes makeVisible_blink{
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}


@media only screen and (max-width: 600px) {

  .searchBarContainer h1{
    font-size: 1.6rem;
  }

  .transcript{
    max-width: none;
  }

  .searchBarDiv{
    width: 70vw;
  }

  @keyframes expand {
    from {
      width: 50vw;
      opacity: 0;
    }
    to {
      width: 70vw;
      opacity: 1;
    }
  }
  
}