.bookTitle{
    background-color: #ffcd72;
    color: #4d3200;
    -webkit-box-shadow: inset -1px -8px 20px 0 #e5a461;
    box-shadow: inset -1px -8px 20px 0 #e5a461;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 2rem 0;
}

.bodyContainer{
    width: 70vw;
    margin: auto;
}

.chapterDiv{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 10px;
    font-weight: bold;
}

.topicDiv{
    padding: 1rem;
}
.topicDiv2{
    color: #1f1f1f;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}


.thumbnailDiv{
    width: 100%;
    margin-top: 0.5rem;
    position: relative;
    height: 9rem;
    background-color: #cfcfcf;
}

@media only screen and (max-width: 600px) {
    .bodyContainer{
        width: 90vw;
    }
    
}